/** {
  border: 1px dashed blue;
}*/

body {
  background-color: #fff;
}

.episode-row {
  height: 400px;
  max-width: 100%
}

.margin-padding {
  margin: 0px auto;
  padding: 0px;
}

.container-fluid-edit {
  max-width: 100%;
  height: auto;
  display: block;
}

.episode-container {
  max-width: 100%;
  height: auto
}

.star-text {
  color: #fff;
  font-family: monospace;
}

.output-box {
  height: 100px;
  width: 500px;
  background-color: #000;
  border: 1px solid #fff;
  font-size: 0.5em;
}



.text-background {
  background-color: yellow;
}

.star-background {
  background-image: url(../images/stars-space.jpg);
  height: auto;
  max-width: 100%;
}

p {
  font-size: 2em;
}

.header {
  font-size: 2em;
  margin: 0px auto;
}

select {
  color: #fff;
  background-color: #000;
  border: 1px thin #fff;
}

.white-space {
  width: 100%;
  height: 500px;
  background-color: #fff;
}


#white-neg {
    background-image: url("/Users/joshholladay/pro/star-wars-films/images/luke-yoda-vader.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

#intro {
  width: 100%;
  height: 500px;
}

#white-zero {
    background-image: url("/Users/joshholladay/pro/star-wars-films/images/Best-Star-Wars-Photos-1.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

#episode_01 {
  width: 100%;
  height: 500px;
}

#white-one {
    background-image: url("/Users/joshholladay/pro/star-wars-films/images/episodes/white-fades/episode1-the-phantom-menace-fade.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

#episode_02 {
  width: 100%;
  height: 500px;
}

#white-two {
    background-image: url("/Users/joshholladay/pro/star-wars-films/images/episodes/white-fades/episode2-attack-of-the-clones-fade.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

#episode_03 {
  width: 100%;
  height: 500px;
  background-color: black;
}

#white-three {
    background-image: url("/Users/joshholladay/pro/star-wars-films/images/episodes/white-fades/episode3-attack-of-the-clones-fade.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

#episode_04 {
  width: 100%;
  height: 500px;
  background-color: powderblue;
}

#white-four {
    background-image: url("/Users/joshholladay/pro/star-wars-films/images/episodes/white-fades/episode4-a-new-hope-fade.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

#episode_05 {
  width: 100%;
  height: 500px;
  background-color: gray;
}

#white-five {
    background-image: url("/Users/joshholladay/pro/star-wars-films/images/episodes/white-fades/episode5-the-empire-strikes-back-fade.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

#episode_06 {
  width: 100%;
  height: 500px;
  background-color: purple;
}

#white-six {
    background-image: url("/Users/joshholladay/pro/star-wars-films/images/episodes/white-fades/episode6-return-of-the-jedi-fade.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

#episode_07 {
  width: 100%;
  height: 500px;
  background-color: limegreen;
}

#white-seven {
    background-image: url("/Users/joshholladay/pro/star-wars-films/images/episodes/white-fades/episode7-the-force-awakens.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

#footer {
  width: 100%;
  height: 100px;
  background-color: yellow;
}
